<div class="card">
    <div class="car-body m-4">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos alias repellendus ex sapiente maxime rem veritatis temporibus doloribus. Vero ab, cum placeat adipisci asperiores esse consequatur dolor numquam rem dolorum tempora nisi quo non! Nihil recusandae numquam mollitia tempora adipisci.</p>
    </div>
</div>