<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p class="my-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus iure numquam iste vero laborum veniam sit ea quo ad officiis sequi asperiores deserunt porro, libero, harum, quidem atque beatae molestiae.</p>
    <a href="https://github.com/Alanch8" class="btn btn-primary btn-lg">Alanch8</a>
</div>